
.header-nav{
    position: relative;
    width: 100%;
    z-index: 997;
    text-align: center;
    padding: 14px 0;    
    top: 30px;
}

.header-nav-in{
    display: inline-block;
    padding: 0 20px;
}
.header-nav-in:first-child {
    border:none
}

.header-nav-in a {
    display:block;
    font-family: 'Lucida Typewriter', monospace;
    font-size:15px;
    line-height:1;
    color:#fff;
    font-style: bold;
    text-decoration: none;
    transition-duration: 0.25s;
}

.is-not-active {
    display: none
}

ul, ol{
    list-style: none;
}

.anchorHover:hover{
    opacity: 0.75;
    text-decoration: none;
    transition-duration: 0.25s;
    font-size:16px;
    color:#fff;
}
