.div-quote{
    width: 100%;
    background-color: #A091BD;
    border-top: 3px dashed white;
}

.div-quote-in{
    padding: 2%;
}

.p-quote{
    font-family: 'Lucida Typewriter', monospace;
    font-size: 2em;
    color: rgba(222, 224, 208, 1);
    font-style: italic;
    text-align: center;
    transition-duration: 0.5s;
}
.p-quote:hover{
    font-size: 2.1em;
    transition-duration: 0.5s;
    cursor: pointer;
}

.p-quote-ref{
    font-family: 'Lucida Typewriter', monospace;
    font-size: 1.5em;
    color: rgba(222, 224, 208, 1);
    text-align: center;
}